<% provide(:title,"About_chocolat") %>
<h1>チョコレートってなんだろう？</h1>
<h2>
    チョコレートとはカカオ豆を発酵させて様座な処理を施しています。<br>
    チョコレートの種類としては主に3つに分けられます
</h2>
<h2>ミルクチョコレートとは</h2>
<p>
    カカオマス、カカオバター、ココアパウダーで作られたチョコレートにミルクを入れたもの<br>
    ごく一般的なチョコレートになる
</p>
<h2>ダークチョコレートとは</h2>
<p>
    カカオ成分が多く入っているチョコレート<br>
    そのため、苦味が強く、甘さをあまり感じない
</p>
<h2 >ホワイトチョコレートとは</h2>
<p>
    カカオマスを使わずにカカオバターだけを使ったチョコレート<br>カカオマスが入っていなくてもカカオの成分であるカカオバターが入っているので<br>
    れっきとしたチョコレートとして分類される
</p>