
<%= link_to image_tag("b7b59809c3b659d21448eb423daa9b03_s.jpg", alt: "CHOCOLAT_LOVERS_LOGO") %>

<p>
  このサイトはチョコレートが好きな人たちが集まって
  チョコレートに関する情報や知識などを投稿して、</br>
  その情報を共有してさらにチョコレートに関する知識
  を広めていこうという目的で作られました。</br>
  
  気になることや教えたい、または教えて欲しいことを
  どんどん書き込んで、チョコレートをもっともっと
  好きになりましょう！
</p>



