
<h1>CHOCOLATE_LOVERS</h1>

<img src = "home.jpg">

<p>
  このサイトはチョコレートが好きな人たちが集まって
  チョコレートに関する情報や知識などを投稿して、</br>
  その情報を共有してさらにチョコレートに関する知識
  を広めていこうという目的で作られました。</br>
  
  気になることや教えたい、または教えて欲しいことを
  どんどん書き込んで、チョコレートをもっともっと
  好きになりましょう！
</p>

<h2>メニュー表</h2>
<ul>
  <li>マリアージュについて</li>
  <li>チョコレートの基礎知識</li>
  <li>新規登録</li>
  <li>ログイン</li>
</ul>

