<% provide(:title,"Mariage") %>
<h1>チョコレートとのマリアージュ</h1>
<h2>マリアージュの基本的な考え方</h2>
<p>
    マリアージュとは単純な組み合わせや食べ合わせではなく<br>
    お互いに隠れている要素を引き出したりするなど<br>
    美味しさや楽しさを広げる組み合わせの事を言います。<br>
    大まかには、<br>
    ①質感（軽さ・重さ）で合わせる<br>
    ②素材の味で合わせる<br>
    ③香りで合わせる<br>
    以上の３つに考え方で分けることができます。
</p>
<h2>飲み物と合わせる</h2>
<p>
    シンプルで軽めの味わいのチョコレート（ミルクチョコレート）には、<br>
    軽快なフレーバーの紅茶やコーヒーをあわせたり、<br>
    逆に、しっかりとした苦味やコクを感じさせるようなチョコレート（ブラックチョコレート）には<br>
    エスプレッソや重厚なウィスキーなどを合わせると良いです。
</p>
<h2>素材と合わせる</h2>
<p>
    同じ系統の素材を使っているものを探して、あわせてみます。<br>
    例えば、ミルク感のあるホワイトチョコレートにカフェラテを合わせる、<br>
    ベリー系の果物を使ったチョコレートには、ベリー系のフルーティさで繋がる<br>
    赤ワイン（ピノ・ノワール）を合わせると良いです。
</p>
<h2>香りと合わせる</h2>
<p>
    チョコレートにアーモンドなどのナッツが使われているものには、<br>
    同じような香ばしい香りをもつウィスキーに合わせてみたり、<br>
    フローラルな香りのするチョコレートには、華やかなスパークリングワインを<br>
    など、似た者同士を合わせてみるとマリアージュを楽しむことができます。
</p>
