<footer>
  <ul>
    <li><%=link_to "マリアージュについて","mariage_path" %></li>
    <li><%=link_to "チョコレートの基礎知識","about_chocolat_path" %></li>
    <li><%=link_to "TOP","root_path"%></li>
  </ul>
  <small>&copy; CHOCOLAT_LOVERS</small>
</footer>